@page "/admin-user-list"
@using DbContext.AdminDbContext.DbResultModel
@using AdminWeb.Components.Pages.Modals

<h3>Admin User List</h3>

<Grid TItem="AdminUserDbModel"
      @ref="_grid"
      DataProvider="AdminUserListProvider"
      Class="table table-hover table-bordered table-striped"
      FixedHeader="true"
      AllowPaging="true"
      Responsive="true"
      PageSize="10"
      Unit="Unit.Px">
      <GridColumns>
            <GridColumn TItem="AdminUserDbModel" HeaderText="UID" PropertyName="UID">@context.uid</GridColumn>
            <GridColumn TItem="AdminUserDbModel" HeaderText="UserId" PropertyName="UserId">@context.user_id</GridColumn>
            <GridColumn TItem="AdminUserDbModel" HeaderText="Type" PropertyName="Type">@context.admin_type</GridColumn>
      </GridColumns>
</Grid>

<Accordion>
      <AccordionItem>
            <TitleTemplate>
                  <Icon Name="IconName.Gear" Class="me-1" /> Setting
            </TitleTemplate>
            <Content>
                  <div class="d-grid gap-2 d-md-block mt-2">
                        <Button Class="btn btn-primary" Size="ButtonSize.Small" @onclick="_OnClickButton">Create Admin User</Button>
                        <Button Class="btn btn-danger" Size="ButtonSize.Small" @onclick="_OnClickButton2">Delete</Button>
                  </div>
            </Content>
      </AccordionItem>
</Accordion>

<CreateAdminUserModal @ref="_modal" OnCreateResult="OnCreateResult"/>
