USE [data_db]
GO
/****** Object:  Table [dbo].[ItemInfoTable]    Script Date: 2025-07-20 오전 2:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemInfoTable](
	[item_index] [int] NOT NULL,
	[asset_type] [int] NOT NULL,
	[item_price] [int] NOT NULL,
 CONSTRAINT [PK_itemInfoTable] PRIMARY KEY CLUSTERED 
(
	[item_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
