USE [data_db]
GO
/****** Object:  Table [dbo].[GameEventTable]    Script Date: 2025-07-20 오전 2:29:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameEventTable](
	[index_no] [int] NOT NULL,
	[event_condition] [int] NOT NULL,
	[event_value] [int] NOT NULL,
	[reward_table_index] [int] NOT NULL,
 CONSTRAINT [PK_GameEventTable_index_no] PRIMARY KEY CLUSTERED 
(
	[index_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
