USE [data_db]
GO
/****** Object:  Table [dbo].[AssetInfoTable]    Script Date: 2025-07-15 오후 12:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetInfoTable](
	[asset_type] [int] NOT NULL,
	[default_asset_value] [int] NOT NULL,
 CONSTRAINT [PK_AssetInfoTable_asset_type] PRIMARY KEY CLUSTERED 
(
	[asset_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
