USE [data_db]
GO
/****** Object:  Table [dbo].[EventStoryTable]    Script Date: 2025-07-24 오후 2:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventStoryTable](
	[index_no] [int] NOT NULL,
	[event_condition] [int] NOT NULL,
	[event_value] [int] NOT NULL,
	[reward_table_index] [int] NOT NULL,
	[event_stage_index] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[index_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
