USE [data_db]
GO
/****** Object:  Table [dbo].[TestTableData]    Script Date: 2025-05-07 오후 6:07:09 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TestTableData]') AND type in (N'U'))
DROP TABLE [dbo].[TestTableData]
GO
/****** Object:  Table [dbo].[TestTableData]    Script Date: 2025-05-07 오후 6:07:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTableData](
	[index_no] [int] NOT NULL,
	[grade] [int] NOT NULL,
	[player_level] [int] NOT NULL,
 CONSTRAINT [PK_TestTableData] PRIMARY KEY CLUSTERED 
(
	[index_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
