USE [shared_db]
GO
/****** Object:  Table [dbo].[event_info]    Script Date: 2025-07-24 오후 2:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_info](
	[event_id] [bigint] NOT NULL,
	[event_type_id] [int] NOT NULL,
	[event_period_type] [int] NOT NULL,
	[event_table_index] [int] NOT NULL,
	[event_extra_value] [nvarchar](300) NOT NULL,
	[event_start_date] [datetime] NOT NULL,
	[event_end_date] [datetime] NOT NULL,
	[event_expiry_date] [datetime] NOT NULL,
	[update_date] [datetime] NOT NULL,
	[create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_event_info_event_id] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[event_info] ADD  DEFAULT (NEXT VALUE FOR [dbo].[SEQ_event_info_pk]) FOR [event_id]
GO
ALTER TABLE [dbo].[event_info] ADD  DEFAULT (getutcdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[event_info] ADD  DEFAULT (getutcdate()) FOR [create_date]
GO
