USE [shared_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_update_event_data]    Script Date: 2025-07-15 오후 12:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_update_event_data](@eventId BIGINT, @eventTypeId INT, @tableIndex INT, @startDate DATETIME,
                                           @endDate DATETIME, @expiryDate DATETIME, 
                                           @extraValue NVARCHAR(300), @eventPeriodType INT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @currentDate DATETIME = GETUTCDATE()
    BEGIN TRY
        IF(@eventId > 0)
            BEGIN
                UPDATE dbo.event_info SET event_type_id = @eventTypeId, event_table_index = @tableIndex, event_start_date = @startDate,
                                          event_end_date = @endDate, event_expiry_date = @expiryDate, update_date = @currentDate,
                                          event_extra_value = @extraValue, event_period_type = @eventPeriodType
                                      WHERE event_id = @eventId
            END
        ELSE
            BEGIN
                INSERT INTO dbo.event_info(event_type_id, event_table_index, event_start_date, event_end_date,
                                           event_expiry_date, update_date, create_date, event_extra_value, event_period_type)
                VALUES(@eventTypeId, @tableIndex, @startDate, @endDate, @expiryDate,
                       @currentDate, @currentDate, @extraValue, @eventPeriodType);
            END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorInputValue nvarchar(1024)
        SET @ErrorInputValue = CONVERT(nvarchar, @eventId)


        EXEC dbo.RaiseError @ErrorInputValue

        RETURN -1
    END CATCH
END
GO
