USE [shared_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_create_account_info]    Script Date: 2025-07-10 오후 1:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_create_account_info](@loginId NVARCHAR(50))
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @gameDbUId INT = 0
    DECLARE @currentDate DATETIME = GETUTCDATE()
    BEGIN TRY
        BEGIN TRANSACTION
            SELECT TOP 1 @gameDbUId = uid FROM dbo.game_db_info WITH(UPDLOCK)
                                          WHERE is_use = 0
                                          ORDER BY current_user_count;
            IF(@gameDbUId < 1)
            BEGIN
                ROLLBACK TRANSACTION
                RETURN -2
            END

            INSERT INTO dbo.account_info(login_id, account_type, game_db_uid, update_date, create_date)
            VALUES(@loginId, 0, @gameDbUId, @currentDate, @currentDate)
            
            UPDATE dbo.game_db_info SET current_user_count = current_user_count + 1 WHERE uid = @gameDbUId;

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
