USE [shared_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_account_info_by_login_id]    Script Date: 2025-07-11 오후 4:36:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_account_info_by_login_id](@loginId NVARCHAR(50))
AS
    BEGIN
        SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SET NOCOUNT ON
        SET LOCK_TIMEOUT 5000

        BEGIN TRY
            SELECT
                A.account_id AS AccountId,
                ISNULL(A.login_id, '') AS LoginId,
                ISNULL(A.account_type, 0) AS AccountType,
                ISNULL(A.game_db_uid, -1) AS GameDbUID,
                ISNULL(B.db_name, '') AS DbName,
                ISNULL(B.host, '') AS Host,
                ISNULL(B.port, 0) AS Port,
                ISNULL(B.db_login_id, '') AS DbLoginId,
                ISNULL(B.db_password, '') AS DbPassword,

                ISNULL(B.slave_db_name, '') AS SlaveDbName,
                ISNULL(B.slave_host, '') AS SlaveHost,
                ISNULL(B.slave_port, 0) AS SlavePort,
                ISNULL(B.slave_db_login_id, '') AS SlaveDbLoginId,
                ISNULL(B.slave_db_password, '') AS SlaveDbPassword,
                
                A.update_date as UpdateDate,
                A.create_date as CreateDate
            FROM dbo.account_info AS A
                     LEFT JOIN dbo.game_db_info AS B
                               ON A.game_db_uid = B.uid
            WHERE A.login_id = @loginId;
        END TRY
        BEGIN CATCH
            RETURN -1
        END CATCH
    END
GO
