USE [shared_db]
GO
/****** Object:  StoredProcedure [dbo].[RaiseError]    Script Date: 2025-07-20 오전 2:28:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RaiseError]
@ErrorInputValue nvarchar(1024)
AS
BEGIN

    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

    SET NOCOUNT ON

    SET LOCK_TIMEOUT 5000

    DECLARE
        @ErrorNumber int,
        @ErrorSeverity int,
        @ErrorState int,
        @ErrorProcedure nvarchar(128),
        @ErrorLine int,
        @ErrorMessage nvarchar(1024),
        @IP VARCHAR(32)

    SELECT
        @ErrorNumber = ERROR_NUMBER()
         ,	@ErrorSeverity = ERROR_SEVERITY()
         ,	@ErrorState = ERROR_STATE()
         ,	@ErrorProcedure = ERROR_PROCEDURE()
         ,	@ErrorLine = ERROR_LINE()
         ,	@ErrorMessage = ERROR_MESSAGE()
         ,	@IP = CONVERT(VARCHAR(32), CONNECTIONPROPERTY('client_net_address'))

    IF @ErrorSeverity IS NOT NULL AND @ErrorState IS NOT NULL
        BEGIN
            INSERT INTO dbo.DBError(ErrorNumber, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine, ErrorMessage, ErrorInputValue, [IP])
            VALUES (@ErrorNumber, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine, @ErrorMessage, @ErrorInputValue, @IP)

            RAISERROR (
                '%s, line %d, error number %d : %s'
                ,@ErrorSeverity
                ,@ErrorState
                ,@ErrorProcedure
                ,@ErrorLine
                ,@ErrorNumber
                ,@ErrorMessage
                )
        END
END
GO
