USE [shared_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_remove_event_data]    Script Date: 2025-07-24 오후 2:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_remove_event_data](@eventId BIGINT, @isRemove INT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @currentDate DATETIME = GETUTCDATE()
    BEGIN TRY
        IF(@isRemove > 0)
            BEGIN
                DELETE FROM dbo.event_info WHERE event_id = @eventId
                RETURN
            END
        UPDATE dbo.event_info SET event_start_date = @currentDate, event_end_date = @currentDate, event_expiry_date = @currentDate, update_date = @currentDate
        WHERE event_id = @eventId
    END TRY
    BEGIN CATCH
        DECLARE @ErrorInputValue nvarchar(1024)
        SET @ErrorInputValue = CONVERT(nvarchar, @eventId)

        EXEC dbo.RaiseError @ErrorInputValue

        RETURN -1
    END CATCH
END
GO
