USE [shared_db]
GO
/****** Object:  Table [dbo].[game_db_info]    Script Date: 2025-07-15 오후 12:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_db_info](
	[uid] [int] NOT NULL,
	[host] [nvarchar](30) NULL,
	[port] [int] NULL,
	[db_name] [nvarchar](50) NULL,
	[db_login_id] [nvarchar](50) NULL,
	[db_password] [nvarchar](50) NULL,
	[slave_host] [nvarchar](30) NULL,
	[slave_port] [int] NULL,
	[slave_db_name] [nvarchar](50) NULL,
	[slave_db_login_id] [nvarchar](50) NULL,
	[slave_db_password] [nvarchar](50) NULL,
	[current_user_count] [int] NULL,
	[is_use] [int] NULL,
 CONSTRAINT [PK_game_db_info_uid] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_game_db_info_is_use]    Script Date: 2025-07-15 오후 12:35:42 ******/
CREATE NONCLUSTERED INDEX [IDX_game_db_info_is_use] ON [dbo].[game_db_info]
(
	[is_use] ASC,
	[current_user_count] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[game_db_info] ADD  CONSTRAINT [DF_game_db_info_current_user_count]  DEFAULT ((0)) FOR [current_user_count]
GO
ALTER TABLE [dbo].[game_db_info] ADD  CONSTRAINT [DF_game_db_info_is_use]  DEFAULT ((0)) FOR [is_use]
GO
