USE [shared_db]
GO
/****** Object:  Table [dbo].[DBError]    Script Date: 2025-07-24 오후 2:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBError](
	[ErrorNumber] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorProcedure] [nvarchar](255) NULL,
	[ErrorLine] [int] NULL,
	[ErrorMessage] [nvarchar](255) NULL,
	[ErrorInputValue] [nvarchar](255) NULL,
	[ErrorDT] [datetime] NULL,
	[HostName] [varchar](128) NULL,
	[LoginName] [varchar](128) NULL,
	[IP] [varchar](32) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DBError] ADD  CONSTRAINT [DF_DBError_ErrorDT]  DEFAULT (getutcdate()) FOR [ErrorDT]
GO
ALTER TABLE [dbo].[DBError] ADD  CONSTRAINT [DF_DBError_HostName]  DEFAULT (host_name()) FOR [HostName]
GO
ALTER TABLE [dbo].[DBError] ADD  CONSTRAINT [DF_DBError_LoginName]  DEFAULT (suser_name()) FOR [LoginName]
GO
