USE [shared_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_event_data_list]    Script Date: 2025-07-24 오후 2:08:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_event_data_list]
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        SELECT event_id, event_type_id, event_table_index, event_start_date, event_end_date,
               event_expiry_date, update_date, create_date, event_period_type, event_extra_value
        FROM dbo.event_info
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
