USE [shared_db]
GO
/****** Object:  Table [dbo].[account_info]    Script Date: 2025-07-15 오후 12:35:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_info](
	[account_id] [bigint] NOT NULL,
	[login_id] [varchar](50) NOT NULL,
	[account_type] [int] NOT NULL,
	[game_db_uid] [int] NOT NULL,
	[update_date] [datetime] NOT NULL,
	[create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_account_info_account_id] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [iDX_account_info_login_id]    Script Date: 2025-07-15 오후 12:35:42 ******/
CREATE NONCLUSTERED INDEX [iDX_account_info_login_id] ON [dbo].[account_info]
(
	[login_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_info] ADD  DEFAULT (NEXT VALUE FOR [dbo].[SEQ_account_info_pk]) FOR [account_id]
GO
ALTER TABLE [dbo].[account_info] ADD  DEFAULT (getutcdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[account_info] ADD  DEFAULT (getutcdate()) FOR [create_date]
GO
