@page "/default-game-user-info"
@using AdminWeb.Services.GameUserService
@using DbContext.MainDbContext.DbResultModel.GameDbModels
@inject GameUserInfoService GameUserInfoService

<h3>Game User Info</h3>

<hr class="separate-line"/>
<h4>Inventory Info</h4>
<Grid TItem="InventoryDbResult"
      @ref="_grid"
      DataProvider="InventoryListProvider"
      Class="table table-hover table-bordered table-striped"
      AllowPaging="true"
      Responsive="true"
      PageSize="5"
      Unit="Unit.Px">
    <GridColumns>
        <GridColumn TItem="InventoryDbResult" HeaderText="ItemIndex" PropertyName="ItemIndex">@context.item_index</GridColumn>
        <GridColumn TItem="InventoryDbResult" HeaderText="Amount" PropertyName="Amount">@context.item_amount</GridColumn>
    </GridColumns>
</Grid>

<hr class="separate-line"/>
<h4>Asset Info</h4>

<Grid TItem="AssetDbResult"
      @ref="_assetGrid"
      DataProvider="AssetInfoListProviderAsync"
      Class="table table-hover table-bordered table-striped"
      AllowPaging="true"
      Responsive="true"
      PageSize="5"
      Unit="Unit.Px">
    <GridColumns>
        <GridColumn TItem="AssetDbResult" HeaderText="Type" PropertyName="Type">@context.asset_type</GridColumn>
        <GridColumn TItem="AssetDbResult" HeaderText="Amount" PropertyName="Amount">@context.amount</GridColumn>
    </GridColumns>
</Grid>
