USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_update_asset_info]    Script Date: 2025-07-30 오후 1:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_update_asset_info](@accountId BIGINT, @assetList TVP_AssetInfo READONLY)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @currentDate DATETIME = GETUTCDATE() 
    BEGIN TRY
        BEGIN TRANSACTION
            MERGE INTO dbo.asset_info AS A USING @assetList as B
            ON (a.account_id = @accountId AND a.asset_type = B.asset_type)
            WHEN MATCHED THEN
                UPDATE SET A.amount = B.amount, A.update_date = @currentDate
            WHEN NOT MATCHED THEN
                INSERT (account_id, asset_type, amount, create_date, update_date)
                VALUES (@accountId, B.asset_type, B.amount, @currentDate, @currentDate);
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        IF(@@TRANCOUNT > 0)
            BEGIN
                ROLLBACK TRANSACTION
            END
        RETURN -1
    END CATCH
END
GO
