USE [main_db]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_ItemInfo]    Script Date: 2025-07-20 오전 2:29:20 ******/
CREATE TYPE [dbo].[TVP_ItemInfo] AS TABLE(
	[item_index] [int] NOT NULL,
	[item_amount] [int] NULL,
	PRIMARY KEY CLUSTERED 
(
	[item_index] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
