USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_mail_box_info]    Script Date: 2025-07-30 오후 5:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_mail_box_info](@accountId BIGINT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        SELECT mail_uid, message_content, reward_content, is_read, is_reward_received,
               update_date, create_date, expiry_date
        FROM dbo.mail_info WHERE account_id = @accountId AND is_remove = 0 AND expiry_date > GETUTCDATE()
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
