USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_create_new_game_user]    Script Date: 2025-07-30 오후 5:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_create_new_game_user](@accountId BIGINT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        IF EXISTS(SELECT 1 FROM dbo.game_user WHERE account_id = @accountId)
            BEGIN
                RETURN -2 -- 이미 있는 계정
            END
        INSERT INTO dbo.game_user(account_id, user_level, user_exp)
        OUTPUT inserted.account_id,
               inserted.user_level,
               inserted.user_exp,
               inserted.update_date
        VALUES(@accountId, 1, 0)
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
