USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_inventory_list]    Script Date: 2025-07-30 오후 1:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_inventory_list](@accountId BIGINT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        SELECT item_index, item_amount, update_date, is_remove FROM dbo.inventory_info WHERE account_id = @accountId AND is_remove = 0
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
