USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_asset_info]    Script Date: 2025-07-30 오후 5:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_asset_info](@accountId BIGINT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        SELECT asset_type, amount, update_date FROM dbo.asset_info WHERE account_id = @accountId
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
