USE [main_db]
GO
/****** Object:  Table [dbo].[asset_info]    Script Date: 2025-07-20 오전 2:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_info](
	[account_id] [bigint] NOT NULL,
	[asset_type] [int] NOT NULL,
	[amount] [bigint] NOT NULL,
	[update_date] [datetime] NOT NULL,
	[create_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[asset_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asset_info] ADD  DEFAULT (getutcdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[asset_info] ADD  DEFAULT (getutcdate()) FOR [create_date]
GO
