USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_game_user]    Script Date: 2025-07-10 오후 1:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_game_user](@accountId BIGINT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        SELECT account_id, user_exp, user_level, update_date FROM dbo.game_user WHERE account_id = @accountId
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
