USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_insert_mail_info]    Script Date: 2025-07-28 오후 5:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_insert_mail_info](@accountId BIGINT, @mailList TVP_MailInfo READONLY)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @currentDate DATETIME = GETUTCDATE()
    BEGIN TRY
        BEGIN TRANSACTION
            INSERT INTO dbo.mail_info(account_id, message_content, reward_content,
                                      expiry_date, update_date, create_date)
            SELECT @accountId, message_content, reward_content,
                   expiry_date, @currentDate, @currentDate
            FROM @mailList
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        IF(@@TRANCOUNT > 0)
            BEGIN
                ROLLBACK TRANSACTION
            END
        RETURN -1
    END CATCH
END
GO
