USE [main_db]
GO
/****** Object:  Table [dbo].[mail_info]    Script Date: 2025-07-30 오후 5:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mail_info](
	[mail_uid] [bigint] NOT NULL,
	[account_id] [bigint] NOT NULL,
	[message_content] [nvarchar](400) NOT NULL,
	[reward_content] [nvarchar](400) NOT NULL,
	[is_read] [int] NOT NULL,
	[is_reward_received] [int] NOT NULL,
	[expiry_date] [datetime] NOT NULL,
	[update_date] [datetime] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[is_remove] [int] NOT NULL,
 CONSTRAINT [PK_mail_info_mail_uid] PRIMARY KEY CLUSTERED 
(
	[mail_uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_mail_info_mail_uid]    Script Date: 2025-07-30 오후 5:11:59 ******/
CREATE NONCLUSTERED INDEX [IX_mail_info_mail_uid] ON [dbo].[mail_info]
(
	[mail_uid] ASC,
	[is_remove] ASC,
	[expiry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mail_info] ADD  CONSTRAINT [DF_mail_info_mail_uid]  DEFAULT (NEXT VALUE FOR [dbo].[SEQ_mail_info_pk]) FOR [mail_uid]
GO
ALTER TABLE [dbo].[mail_info] ADD  CONSTRAINT [DF_mail_info_is_read]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[mail_info] ADD  CONSTRAINT [DF_mail_info_is_reward_received]  DEFAULT ((0)) FOR [is_reward_received]
GO
ALTER TABLE [dbo].[mail_info] ADD  CONSTRAINT [DF_mail_info_update_date]  DEFAULT (getutcdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[mail_info] ADD  CONSTRAINT [DF_mail_info_create_date]  DEFAULT (getutcdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[mail_info] ADD  CONSTRAINT [DF_mail_info_is_remove]  DEFAULT ((0)) FOR [is_remove]
GO
