USE [main_db]
GO
/****** Object:  Table [dbo].[game_user]    Script Date: 2025-07-11 오후 4:35:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_user](
	[account_id] [bigint] NOT NULL,
	[user_level] [int] NOT NULL,
	[user_exp] [int] NOT NULL,
	[update_date] [datetime] NOT NULL,
	[create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_game_user_account_id] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_game_user_account_id]    Script Date: 2025-07-11 오후 4:35:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_game_user_account_id] ON [dbo].[game_user]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[game_user] ADD  DEFAULT (getutcdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[game_user] ADD  DEFAULT (getutcdate()) FOR [create_date]
GO
