USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_update_item_info]    Script Date: 2025-07-15 오후 12:35:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_update_item_info](@accountId BIGINT, @itemList TVP_ItemInfo READONLY)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @currentDate DATETIME = GETUTCDATE()
    BEGIN TRY
        BEGIN TRANSACTION
            MERGE INTO dbo.inventory_info AS A USING @itemList as B
            ON (a.account_id = @accountId AND a.item_index = B.item_index)
            WHEN MATCHED THEN
                UPDATE SET A.item_amount = B.item_amount, A.is_remove = IIF(B.item_amount < 1, 1, 0), A.update_date = @currentDate
            WHEN NOT MATCHED THEN
                INSERT (account_id, item_index, item_amount, create_date, update_date, is_remove)
                VALUES (@accountId, B.item_index, B.item_amount, @currentDate, @currentDate,
                        IIF(B.item_amount < 1, 1, 0));
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        IF(@@TRANCOUNT > 0)
            BEGIN
                ROLLBACK TRANSACTION
            END
        RETURN -1
    END CATCH
END
GO
