USE [main_db]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_MailInfo]    Script Date: 2025-09-10 오후 6:09:34 ******/
CREATE TYPE [dbo].[TVP_MailInfo] AS TABLE(
	[mail_uid] [bigint] NOT NULL,
	[message_content] [nvarchar](400) NOT NULL,
	[reward_content] [nvarchar](400) NOT NULL,
	[is_read] [int] NOT NULL,
	[is_reward_received] [int] NOT NULL,
	[expiry_date] [datetime] NOT NULL,
	PRIMARY KEY NONCLUSTERED 
(
	[mail_uid] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
