USE [main_db]
GO
/****** Object:  UserDefinedTableType [dbo].[TVP_AssetInfo]    Script Date: 2025-07-11 오후 4:35:55 ******/
CREATE TYPE [dbo].[TVP_AssetInfo] AS TABLE(
	[asset_type] [int] NOT NULL,
	[amount] [int] NULL,
	PRIMARY KEY CLUSTERED 
(
	[asset_type] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
