USE [main_db]
GO
/****** Object:  Table [dbo].[inventory_info]    Script Date: 2025-07-30 오후 1:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_info](
	[account_id] [bigint] NOT NULL,
	[item_index] [int] NOT NULL,
	[item_amount] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[update_date] [datetime] NOT NULL,
	[is_remove] [int] NOT NULL,
 CONSTRAINT [PK_inventory_info_item_index] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[item_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_inventory_info_account_id]    Script Date: 2025-07-30 오후 1:46:27 ******/
CREATE NONCLUSTERED INDEX [IDX_inventory_info_account_id] ON [dbo].[inventory_info]
(
	[account_id] ASC,
	[is_remove] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[inventory_info] ADD  CONSTRAINT [DF_inventory_info_item_amount]  DEFAULT ((0)) FOR [item_amount]
GO
ALTER TABLE [dbo].[inventory_info] ADD  CONSTRAINT [DF_inventory_info_create_date]  DEFAULT (getutcdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[inventory_info] ADD  CONSTRAINT [DF_inventory_info_update_date]  DEFAULT (getutcdate()) FOR [update_date]
GO
ALTER TABLE [dbo].[inventory_info] ADD  CONSTRAINT [DF_inventory_info_is_remove]  DEFAULT ((0)) FOR [is_remove]
GO
