USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_receive_mail_reward]    Script Date: 2025-07-30 오후 5:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_receive_mail_reward](@accountId BIGINT, @mailList TVP_MailInfo READONLY )
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        UPDATE dbo.mail_info SET is_reward_received = 1, is_read = 1, update_date = GETUTCDATE()
                             FROM @mailList AS A
                             INNER LOOP JOIN dbo.mail_info AS B WITH(index(PK_mail_info_mail_uid))
                             ON A.mail_uid = B.mail_uid WHERE B.account_id = @accountId
        RETURN 0
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
