USE [main_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_change_exp_and_level]    Script Date: 2025-09-10 오후 6:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_change_exp_and_level](@accountId BIGINT, @exp INT, @level INT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        UPDATE dbo.game_user SET user_exp = @exp, user_level = @level WHERE account_id = @accountId
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
