USE [admin_tool_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_get_admin_info]    Script Date: 2025-07-20 오전 2:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_get_admin_info](@loginId NVARCHAR(100))
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    BEGIN TRY
        SELECT uid, admin_type, user_id, user_password, create_date, update_date FROM dbo.admin_user_info WHERE user_id = @loginId;
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
