USE [admin_tool_db]
GO
/****** Object:  Table [dbo].[admin_user_info]    Script Date: 2025-07-30 오후 1:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_user_info](
	[uid] [bigint] NOT NULL,
	[user_id] [nvarchar](100) NOT NULL,
	[user_password] [nvarchar](100) NOT NULL,
	[admin_type] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[update_date] [datetime] NULL,
 CONSTRAINT [PK_admin_user_info_uid] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNI_admin_user_info_user_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_user_info] ADD  DEFAULT (NEXT VALUE FOR [dbo].[SEQ_admin_user_info]) FOR [uid]
GO
ALTER TABLE [dbo].[admin_user_info] ADD  DEFAULT ((0)) FOR [admin_type]
GO
ALTER TABLE [dbo].[admin_user_info] ADD  DEFAULT (getutcdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[admin_user_info] ADD  DEFAULT (getutcdate()) FOR [update_date]
GO
