USE [admin_tool_db]
GO
/****** Object:  StoredProcedure [dbo].[gsp_create_new_admin_user]    Script Date: 2025-07-20 오전 2:30:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[gsp_create_new_admin_user](@loginId NVARCHAR(100), @password NVARCHAR(100), @adminType INT)
AS
BEGIN
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
    SET NOCOUNT ON
    SET LOCK_TIMEOUT 5000

    DECLARE @currentTime DATETIME = GETUTCDATE()
    BEGIN TRY
        INSERT INTO dbo.admin_user_info(user_id, user_password, admin_type, create_date, update_date)
        VALUES (@loginId, @password, @adminType, @currentTime, @currentTime)

        IF(@@ROWCOUNT > 0)
        BEGIN
            SELECT uid, admin_type, user_id, user_password, create_date, update_date FROM dbo.admin_user_info WHERE user_id = @loginId;
        END
    END TRY
    BEGIN CATCH
        RETURN -1
    END CATCH
END
GO
